/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

/*=============================================================================*/

#body {
	background: #707070;
}

#current_time,
.h1Current_Time {
	font-size: 40px;
}
#CancelBtn {
	display: none;
}


#adding_alarm_form {
	margin: 5%;
	height: 100%;
}


.stete,
.TimezoneTH,
.stete,
#Timezone,
#resDiv,
#resSpan {
	display: none;
}
#NoItem {
    background: #999999;
    position: absolute;
    top: 40%;
    left: 35%;
    width: 30%;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}

#alarm_list_table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	padding: 8px;
	font-weight: bold;
	overflow-wrap: break-word;
}

#alarm_list_table tr:nth-child(even) {
	background-color: #999999;
}

#alarm_list_table tr:hover {
	background-color: #ddd;
}

#alarm_list_table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #04AA6D;
	color: white;
}

.openBtn {
	display: flex;
	justify-content: left;
	margin-left: 2%;
	margin-bottom: 1%;
}

.formPopup {
	height: 85%;
	background: #607d8b;
	display: none;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 5%);
	border: 3px solid #999999;
	z-index: 9;
	width: 80%;
}

#resSpan {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

#resDiv {
	color: #fff !important;
	background-color: #ff5722 !important;
	margin-top: 16px;
	margin-bottom: 16px;
}

.btn_cancel,
.adding_alarm_btn,
.openButton,
.DeleteBt,
.EditBt {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.btn_cancel span,
.adding_alarm_btn span,
.openButton span,
.DeleteBt span,
.EditBt span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.btn_cancel span:after,
.DeleteBt span:after,
.EditBt span:after {
	content: '\00d7';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.adding_alarm_btn span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.openButton span:after,
.EditBt span:after {
	content: '\2261';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.btn_cancel:hover span,
.adding_alarm_btn span:hover,
.openButton span:hover,
.DeleteBt span:hover,
.EditBt span:hover {
	padding-right: 25px;
}

.btn_cancel:hover span:after,
.adding_alarm_btn:hover span:after,
.openButton:hover span:after,
.DeleteBt:hover span:after,
.EditBt:hover span:after {
	opacity: 1;
	right: 0;
}

.adding_alarm_btn,
.openButton {
	background: #0d6041;
}

.DeleteBt {
	background: red;
}


#phone_number,
#note,
#hour,
#min,
#zone,
#note {
	border: 2px solid black;
	margin: 2%;
}

#phone_number {
	width: 90%;
	height: 10%;
	text-align: center;
}

#hour {
	height: 29px;
	position: relative;
	left: 1%;
	width: 26%;
	text-align: center;
	font-size: 19px;
}

#min {
	height: 29px;
	position: relative;
	left: 1%;
	text-align: center;
	font-size: 19px;
}

#zone {
	height: 29px;
	position: relative;
	left: 1%;
	width: 26%;
	text-align: center;
	font-size: 19px;
}

#note {
	position: relative;
	left: 1%;
	width: 90%;
	height: 20%;
}

#showtimeatenterydiv {
	text-align: center;
	font-size: 25px;
}

#alarm_list_table th,
#alarm_list_table td {
    border: 1px solid #ddd;
}

.phone_number,
.AlarmTime,
.time,
.deleteBt,
.EditBtTd,
.TimeDiff  {
    width: 10%;/*150px*/
}