/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*=============================================================================*/

body#body {
    background: #707070;
}

#current_time,h1.h1Current_Time {
    font-size: 40px;
    //margin-left: 10%;
}
select#hour {
        height: 29px;
    position: relative;
    left: 1%;
	width: 26%;
    text-align: center;
    font-size: 19px;
    //margin: 2px;
}
select#min {height: 29px;
    position: relative;
    left: 1%;
	//width: 25%;
    text-align: center;
    font-size: 19px;
    //margin: 2px;
}
select#zone {
    height: 29px;
    position: relative;
    left: 1%;
	width: 26%;
    text-align: center;
    font-size: 19px;
    //margin: 2px;
}

form#adding_alarm_form {
	margin: 5%;
    height: 100%;
    //padding: 12%
}
/*input#phone_number {
    position: relative;
    left: 1%;
    //margin: 2px;
}*/
textarea#note {
    position: relative;
    left: 1%;
	width: 90%;
    height: 20%;
    //margin: 2px;
}
table#alarm_list_table {
    //margin-left: 2%;
}

th.stete,th.Timezone,td.stete,td#Timezone {
    display: none;
}


#alarm_list_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#alarm_list_table td, #alarm_list_table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-weight: bold;
  width: 42px;
  overflow-wrap: break-word;
}

#alarm_list_table tr:nth-child(even){background-color: #f2f2f2;}

#alarm_list_table tr:hover {background-color: #ddd;}

#alarm_list_table th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}


/*=========================================================*/
      .openBtn {
    display: flex;
    justify-content: left;
    margin-left: 2%;
    margin-bottom: 1%;
      }
     /* .openButton {
        border: none;
        border-radius: 5px;
        background-color: #354645;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
      }*/
      .formPopup {
    height: 50%;
    background: #607d8b;
    display: none;
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
      }
	  
	  
	  /*input[type=text],input[type=number], select {
  //width: 100%;
  //padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}*/
#resDiv,#resSpan{
	display:none;
}
span#resSpan {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
div#resDiv {
    color: #fff!important;
    background-color: #ff5722!important;
    margin-top: 16px;
    margin-bottom: 16px;
}
/*======================================*/

button.btn_cancel,.adding_alarm_btn,.openButton,.DeleteBt {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  //padding: 20px;
  //width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button.btn_cancel span,.adding_alarm_btn span,.openButton span,.DeleteBt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.btn_cancel span:after,.DeleteBt span:after{
  content: '\00d7';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.adding_alarm_btn span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;	
}	
.openButton span:after {
  content: '\2261';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;	
}

button.btn_cancel:hover span,.adding_alarm_btn span:hover,.openButton span:hover,.DeleteBt span:hover{
  padding-right: 25px;
}

button.btn_cancel:hover span:after,.adding_alarm_btn:hover span:after,.openButton:hover span:after,.DeleteBt:hover span:after{
  opacity: 1;
  right: 0;
}
/*======================================*/
button.adding_alarm_btn,.openButton{
    background: #795548;
}
.DeleteBt {
	background: red;
}



input#phone_number, textarea#note, select#hour, select#min, select#zone, textarea#note {
    border: 2px solid black;
    margin: 2%;
}
input#phone_number {
    width: 90%;
	height: 10%;
	text-align: center;
}

#showtimeatenterydiv {
    text-align: center;
    font-size: 25px;
}