*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	color: black;
}
img {
	width: 100%;
	height: auto;
}
a{
	text-decoration: none;
    color: black;
}


div {
	/*border: 1px dashed red;*/
}



.BigContener {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
    gap: 20px;
    width: 100%;
    margin: 0px auto;
	background: #bbbbbb;
}

/* -------------------------------HEAD------------------------- */
.heade {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #00000078, #00000078), url(images/callerVector.jpg);
    background-size: cover;
    background-position: center center;
}
/* --header-- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    /* align-content: space-around; */
    width: 90%;
    margin-top: 20px;
    flex-wrap: wrap;
    background: linear-gradient(180deg, #101f3f3b, #c7d8e600);
    border-radius: 2px;
    padding: 0.5rem 0.8rem;
}
.logoDiv {
    width: 100px;
	flex-shrink: 0;
}
a.logoA {

}
img.logo {

}
.navDiv {

}
ul.navUl {
    list-style: none;
}
li.navLi {
    display: inline-block;
    margin: 0px 20px;
}
a.navA {
    color: whitesmoke;
}
a.navA:after {
    content: '';
    width: 0;
    background: #121f3e;
    height: 2px;
    transition: width 0.5s;
    display: block;
    border-radius: 10px;
	margin-top: 2px;
}
a.navA:hover:after {
    width: 100%;
}
/* --Hero-- */
.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.SlogenDiv {
    padding: 1rem;
    font-size: 9vw;
}
.SlogenDiv > p {
    color: #ffffff;
}
.BiglogoDiv {
	flex-basis: 40vw;
    flex-shrink: 0;
	display: none;
}




	
/* --------------------------Content---------------------*/
.CardsWithImgsDiv {
    background: linear-gradient(180deg, #ffffff36, #000000ad), url(images/bizppl.jpg);
    background-size: cover;
    background-position: center center;
}
.sectionTitleDiv {
    width: 50vw;
    margin: 2vh auto;
    text-align: center;
    padding: 15px;
}
span.SecTitleSpan {
    font-size: 10vw;
    color: #009688;
}
h2.SecTitleH2 {
    font-size: 5vw;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.CardsDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5px;
}
.cardDiv {
    width: 310px;
    margin: 1rem;
    position: relative;
    height: 400px;
}
.CardImgDiv {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 0rem;
    right: 0rem;
    overflow: hidden;
}
.CardparDiv {
    width: 200px;
    height: 280px;
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    line-height: 24px;
    font-size: 20px;
    background: linear-gradient(180deg, #b6c7d48a, transparent);
    padding: 1rem;
    border-radius: 13%;
}
.CardparDiv p {
    color: white;
}

/* ------------------------CONTACT US Div------------------------------- */
.ContactUsDiv {
    background: linear-gradient(180deg, #ffffff36, #000000ad), url(images/phone.jpg);
    background-size: cover;
    background-position: center center;
}
form.ContactUsForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
}
form.ContactUsForm input, form.ContactUsForm textarea, form.ContactUsForm button {
    margin: 20px;
    font-size: 20px;
	line-height: 45px;
}
form.ContactUsForm span {
    margin-left: 20px;
	font-size: 20px;
	letter-spacing: 2px;
	/*line-height: 45px;*/
}
form.ContactUsForm input, form.ContactUsForm textarea {
    width: 80%;
    border: none;
    background: #dddfe4;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid black;
	color: white;
	padding-left: 10px;
}
form.ContactUsForm input::placeholder, form.ContactUsForm textarea::placeholder {
    padding-left: 10px;
	transition: padding 1s;
	letter-spacing: 2px;
}
form.ContactUsForm input:focus, form.ContactUsForm textarea:focus {
    outline: none;
	background: #7e7e7e;
}
form.ContactUsForm textarea:focus {
    outline: none;
	background: #9e9e9e;
}
form.ContactUsForm input:focus::placeholder {
    color: #f44336;
    padding-left: 90%;/**/
	font-weight: 600;
}
form.ContactUsForm textarea:focus::placeholder {
    /*visibility: hidden;*/
	color: #f44336;
	padding-top: 135px;
	font-weight: 600;
}
textarea.MsgTextarea {
    resize: none;
    /*height: 100px;*/
}
button.submitBtn {
    border: none;
    border-radius: 25px;
    padding: 0px 30px;
    background: #289fff;
    color: whitesmoke;
    text-transform: uppercase;
    margin-left: 9vw!important;
}
button.submitBtn:hover {
    background: white;
    color: black;
}
button.submitBtn:active {
    background: green;
    color: white;
}
/* ------------------------iconslineDiv------------------------------- */
.iconslineSec {
    background: #b6c7d4;
}
.iconslineDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.iconDiv > a > span {
    font-size: 5rem;
    margin: 15px;
    transition: font-size 0.5s;
	cursor: pointer;
}
.iconDiv > a > span:hover {
    font-size: 4rem;
}
/* ------------------------Footer------------------------------- */
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    /* height: 300px; */
    background: #092338;
    color: #b6c7d4;
    padding: 20px;
}
.footerDiv {
    width: 200px;
    height: 100%;
    margin: 10px;
    padding: 10px;
    line-height: 30px;
}
.footerlastline {
    flex-basis: 100%;
    text-align: center;
}
.line {
    height: 2px;
    background: #b6c7d4;
    border-radius: 10px;
}
/* coloering the footer temp things ----*/
.footer p,
.footer h3,
.footer li a{
    color: white;
}
.footer ul {
	list-style: none;
}
/* ----------------- For small screen --------------------- */
@media only screen and (max-width: 576px) {
.header {	
	flex-direction: column;
}
.navDiv {
	margin: 0.5rem 0px;
}
.BiglogoDiv {
    display: none;
}
.SlogenDiv {
    font-size: 15vw;
}
form.ContactUsForm input:focus::placeholder {
    padding-left: 80%;/**/
}
}
/* ----------------- For MD screen --------------------- */
@media only screen and (max-width: 768px) {

}

/*-------------- styleing---------------------------------------------------------------*/
